<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>{{TITLE | translate}}</title>
  <base href="/">

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="favicon.ico">
</head>
<body class="hold-transition sidebar-mini">
  <div class="wrapper">
    <app-root></app-root>
  </div>
</body>
</html>
